@import "tailwindcss";

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.gradient1 {
  background-image: linear-gradient(
    to right bottom,
    #3c8df7,
    #009bf9,
    #00a8f7,
    #00b3f2,
    #12bdeb
  );
}

.gradient-currency {
  background-image: linear-gradient(
    to bottom,
    #175bec,
    #1063f1,
    #0a6bf6,
    #0673fb,
    #077bff
  );
}

.colorGradient {
  background-image: linear-gradient(
    to right top,
    #f02200,
    #e86500,
    #d79100,
    #beb500,
    #9ed500,
    #72dc55,
    #44e086,
    #00e1af,
    #00c6db,
    #00a4ff,
    #0078ff,
    #0800fe
  );
}

.hide-scrollbar {
  scrollbar-width: none;
}

/* camera filter */

.natural {
  filter: brightness(100%) contrast(100%) saturate(100%);
}

.vintage {
  filter: sepia(55%) contrast(120%) brightness(102%);
}

.black-white {
  filter: grayscale(100%) contrast(140%) brightness(105%);
}

.warm {
  filter: brightness(108%) contrast(115%) saturate(135%) sepia(18%);
}

.cool {
  filter: brightness(98%) contrast(110%) saturate(120%) hue-rotate(190deg);
}

.hdr {
  filter: contrast(145%) brightness(112%) saturate(120%);
}

.cinematic {
  filter: brightness(95%) contrast(125%) saturate(110%) hue-rotate(160deg);
}

.soft {
  filter: brightness(110%) contrast(95%) saturate(105%);
}

/* Reveal */

.reveal .overlay {
  pointer-events: none;
  mask-image: radial-gradient(
    circle 0px at var(--x, 50%) var(--y, 50%),
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  -webkit-mask-image: radial-gradient(
    circle 0px at var(--x, 50%) var(--y, 50%),
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 90%
  );

  transition: mask-image 0.15s ease, -webkit-mask-image 0.15s ease;
}

.reveal:hover {
  .overlay {
    pointer-events: none;
    mask-image: radial-gradient(
      circle 250px at var(--x, 50%) var(--y, 50%),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    -webkit-mask-image: radial-gradient(
      circle 250px at var(--x, 50%) var(--y, 50%),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 90%
    );
  }
}

/* animation */

.animate-rotate-slow {
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* shape divider */

.custom-shape-divider-bottom-1767276540 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1767276540 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.custom-shape-divider-bottom-1767276540 .shape-fill {
  fill: #ffffff;
}
@media (max-width: 500px) {
  p {
    font-size: 14px;
  }
}